.contenedor-stories {
    max-width: 63rem;
    margin: 0 auto;
    position: relative;
    
    .stories {
        width: 100%;
        padding: $separacion 0;
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;
    }
    
    .boton-story {
        height: 2.8rem;
        width: 2.8rem;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        position: absolute;
        top: 30%;
    }
    
    .boton-story.izquierda {
        left: 2%;
    }
    
    .boton-story.derecha {
        right: 2%;
    }
    
    .boton-story.oculto {
        z-index: -1;
    }
}