.slider {
    max-width: 45rem;
    margin: 0 auto;
    position: relative;

    .contenedor-botones {
        position: absolute;
        top: 300px;
        display: flex;

        .oculto {
            z-index: -2;
        }
    }
}

.contenedor-imagenes {
    width: 100%;
    display: flex;
    overflow-x: hidden;

    img {
        width: 100%;
        object-fit: contain;
    }
}