.slider {
    max-width: 46.8rem;
    margin: 0 auto;
    position: relative;
    border: solid 1px rgba(204, 206, 208, 0.6);
    border-radius: 3px;

    .contenedor-imagenes {
        // width: 100%;
        display: flex;
        overflow-x: hidden;
        background-color: black;
        border-radius: 3px;
    
        img {
            width: 100%;
            object-fit: contain;
            user-select: none;
        }
    }

    .boton-slider {
        position: absolute;
        top: 50%;
        height: 2.8rem;
        width: 2.8rem;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }

    .boton-slider.izquierda {
        left: 2%;
    }

    .boton-slider.derecha {
        right: 2%;
    }

    .boton-slider.oculto {
        z-index: -1;
    }
}

.contenedor-indicadores {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;

    &.oculto {
        z-index: -1;
    }

    .indicador {
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background-color: rgba(204, 206, 208, 0.6);
        margin-right: .5rem;
    }

    .indicador:last-of-type {
        margin: 0;
    }

    .indicador.activo {
        background-color: rgba(255, 255, 255, 0.8);
    }
}