.contenedor-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 8.125rem;
    
    .imagen-story {
        object-fit: cover;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin-bottom: .5rem;
    }

    .usuario-story {
        text-decoration: none;
        font-size: 1.2rem;
    }
}
