body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './base/normalize';
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './base/variables';
@import './base/mixins';
@import './base/global';

@import './components/App';
@import './layout/header';
@import './layout/main';
@import './components/ContenedorStories';
@import './components/Story';
@import './components/Publicacion';
@import './components/SliderImagenes';
@import './components/ListaComentarios';
@import './components/FormularioComentario';
@import './components/Comentario';